/msg_gen/cpp/include/robbie/BatteryState.h
/msg_gen/cpp/include/robbie/RobbieArmAction.h
/msg_gen/cpp/include/robbie/RobbieArmActionFeedback.h
/msg_gen/cpp/include/robbie/RobbieArmActionGoal.h
/msg_gen/cpp/include/robbie/RobbieArmActionResult.h
/msg_gen/cpp/include/robbie/RobbieArmFeedback.h
/msg_gen/cpp/include/robbie/RobbieArmGoal.h
/msg_gen/cpp/include/robbie/RobbieArmGripperAction.h
/msg_gen/cpp/include/robbie/RobbieArmGripperActionFeedback.h
/msg_gen/cpp/include/robbie/RobbieArmGripperActionGoal.h
/msg_gen/cpp/include/robbie/RobbieArmGripperActionResult.h
/msg_gen/cpp/include/robbie/RobbieArmGripperFeedback.h
/msg_gen/cpp/include/robbie/RobbieArmGripperGoal.h
/msg_gen/cpp/include/robbie/RobbieArmGripperResult.h
/msg_gen/cpp/include/robbie/RobbieArmResult.h
/msg_gen/cpp/include/robbie/RobbieBaseAction.h
/msg_gen/cpp/include/robbie/RobbieBaseActionFeedback.h
/msg_gen/cpp/include/robbie/RobbieBaseActionGoal.h
/msg_gen/cpp/include/robbie/RobbieBaseActionResult.h
/msg_gen/cpp/include/robbie/RobbieBaseFeedback.h
/msg_gen/cpp/include/robbie/RobbieBaseGoal.h
/msg_gen/cpp/include/robbie/RobbieBaseResult.h
/msg_gen/cpp/include/robbie/RobbieHeadAction.h
/msg_gen/cpp/include/robbie/RobbieHeadActionFeedback.h
/msg_gen/cpp/include/robbie/RobbieHeadActionGoal.h
/msg_gen/cpp/include/robbie/RobbieHeadActionResult.h
/msg_gen/cpp/include/robbie/RobbieHeadFeedback.h
/msg_gen/cpp/include/robbie/RobbieHeadGoal.h
/msg_gen/cpp/include/robbie/RobbieHeadResult.h
/msg_gen/generated
/msg_gen/lisp/BatteryState.lisp
/msg_gen/lisp/RobbieArmAction.lisp
/msg_gen/lisp/RobbieArmActionFeedback.lisp
/msg_gen/lisp/RobbieArmActionGoal.lisp
/msg_gen/lisp/RobbieArmActionResult.lisp
/msg_gen/lisp/RobbieArmFeedback.lisp
/msg_gen/lisp/RobbieArmGoal.lisp
/msg_gen/lisp/RobbieArmGripperAction.lisp
/msg_gen/lisp/RobbieArmGripperActionFeedback.lisp
/msg_gen/lisp/RobbieArmGripperActionGoal.lisp
/msg_gen/lisp/RobbieArmGripperActionResult.lisp
/msg_gen/lisp/RobbieArmGripperFeedback.lisp
/msg_gen/lisp/RobbieArmGripperGoal.lisp
/msg_gen/lisp/RobbieArmGripperResult.lisp
/msg_gen/lisp/RobbieArmResult.lisp
/msg_gen/lisp/RobbieBaseAction.lisp
/msg_gen/lisp/RobbieBaseActionFeedback.lisp
/msg_gen/lisp/RobbieBaseActionGoal.lisp
/msg_gen/lisp/RobbieBaseActionResult.lisp
/msg_gen/lisp/RobbieBaseFeedback.lisp
/msg_gen/lisp/RobbieBaseGoal.lisp
/msg_gen/lisp/RobbieBaseResult.lisp
/msg_gen/lisp/RobbieHeadAction.lisp
/msg_gen/lisp/RobbieHeadActionFeedback.lisp
/msg_gen/lisp/RobbieHeadActionGoal.lisp
/msg_gen/lisp/RobbieHeadActionResult.lisp
/msg_gen/lisp/RobbieHeadFeedback.lisp
/msg_gen/lisp/RobbieHeadGoal.lisp
/msg_gen/lisp/RobbieHeadResult.lisp
/msg_gen/lisp/_package.lisp
/msg_gen/lisp/_package_BatteryState.lisp
/msg_gen/lisp/_package_RobbieArmAction.lisp
/msg_gen/lisp/_package_RobbieArmActionFeedback.lisp
/msg_gen/lisp/_package_RobbieArmActionGoal.lisp
/msg_gen/lisp/_package_RobbieArmActionResult.lisp
/msg_gen/lisp/_package_RobbieArmFeedback.lisp
/msg_gen/lisp/_package_RobbieArmGoal.lisp
/msg_gen/lisp/_package_RobbieArmGripperAction.lisp
/msg_gen/lisp/_package_RobbieArmGripperActionFeedback.lisp
/msg_gen/lisp/_package_RobbieArmGripperActionGoal.lisp
/msg_gen/lisp/_package_RobbieArmGripperActionResult.lisp
/msg_gen/lisp/_package_RobbieArmGripperFeedback.lisp
/msg_gen/lisp/_package_RobbieArmGripperGoal.lisp
/msg_gen/lisp/_package_RobbieArmGripperResult.lisp
/msg_gen/lisp/_package_RobbieArmResult.lisp
/msg_gen/lisp/_package_RobbieBaseAction.lisp
/msg_gen/lisp/_package_RobbieBaseActionFeedback.lisp
/msg_gen/lisp/_package_RobbieBaseActionGoal.lisp
/msg_gen/lisp/_package_RobbieBaseActionResult.lisp
/msg_gen/lisp/_package_RobbieBaseFeedback.lisp
/msg_gen/lisp/_package_RobbieBaseGoal.lisp
/msg_gen/lisp/_package_RobbieBaseResult.lisp
/msg_gen/lisp/_package_RobbieHeadAction.lisp
/msg_gen/lisp/_package_RobbieHeadActionFeedback.lisp
/msg_gen/lisp/_package_RobbieHeadActionGoal.lisp
/msg_gen/lisp/_package_RobbieHeadActionResult.lisp
/msg_gen/lisp/_package_RobbieHeadFeedback.lisp
/msg_gen/lisp/_package_RobbieHeadGoal.lisp
/msg_gen/lisp/_package_RobbieHeadResult.lisp
/msg_gen/lisp/robbie-msg.asd
/nodes/face_test.py~
/nodes/forex.py~
/nodes/greeting.py~
/params/robbie_base.yaml~
/src/forex.py~
/src/robbie/forex.py
/src/robbie/forex.py~
/srv_gen/cpp/include/robbie/GetAnalog.h
/srv_gen/cpp/include/robbie/GetAngle.h
/srv_gen/cpp/include/robbie/GetDigital.h
/srv_gen/cpp/include/robbie/GetVoltage.h
/srv_gen/cpp/include/robbie/IsMoving.h
/srv_gen/cpp/include/robbie/Relax.h
/srv_gen/cpp/include/robbie/RestartController.h
/srv_gen/cpp/include/robbie/SetAngle.h
/srv_gen/cpp/include/robbie/SetComplianceMargin.h
/srv_gen/cpp/include/robbie/SetCompliancePunch.h
/srv_gen/cpp/include/robbie/SetComplianceSlope.h
/srv_gen/cpp/include/robbie/SetDigital.h
/srv_gen/cpp/include/robbie/SetJoints.h
/srv_gen/cpp/include/robbie/SetSpeed.h
/srv_gen/cpp/include/robbie/SetTorqueLimit.h
/srv_gen/cpp/include/robbie/StartController.h
/srv_gen/cpp/include/robbie/StopController.h
/srv_gen/cpp/include/robbie/TorqueEnable.h
/srv_gen/generated
/srv_gen/lisp/GetAnalog.lisp
/srv_gen/lisp/GetAngle.lisp
/srv_gen/lisp/GetDigital.lisp
/srv_gen/lisp/GetVoltage.lisp
/srv_gen/lisp/IsMoving.lisp
/srv_gen/lisp/Relax.lisp
/srv_gen/lisp/RestartController.lisp
/srv_gen/lisp/SetAngle.lisp
/srv_gen/lisp/SetComplianceMargin.lisp
/srv_gen/lisp/SetCompliancePunch.lisp
/srv_gen/lisp/SetComplianceSlope.lisp
/srv_gen/lisp/SetDigital.lisp
/srv_gen/lisp/SetJoints.lisp
/srv_gen/lisp/SetSpeed.lisp
/srv_gen/lisp/SetTorqueLimit.lisp
/srv_gen/lisp/StartController.lisp
/srv_gen/lisp/StopController.lisp
/srv_gen/lisp/TorqueEnable.lisp
/srv_gen/lisp/_package.lisp
/srv_gen/lisp/_package_GetAnalog.lisp
/srv_gen/lisp/_package_GetAngle.lisp
/srv_gen/lisp/_package_GetDigital.lisp
/srv_gen/lisp/_package_GetVoltage.lisp
/srv_gen/lisp/_package_IsMoving.lisp
/srv_gen/lisp/_package_Relax.lisp
/srv_gen/lisp/_package_RestartController.lisp
/srv_gen/lisp/_package_SetAngle.lisp
/srv_gen/lisp/_package_SetComplianceMargin.lisp
/srv_gen/lisp/_package_SetCompliancePunch.lisp
/srv_gen/lisp/_package_SetComplianceSlope.lisp
/srv_gen/lisp/_package_SetDigital.lisp
/srv_gen/lisp/_package_SetJoints.lisp
/srv_gen/lisp/_package_SetSpeed.lisp
/srv_gen/lisp/_package_SetTorqueLimit.lisp
/srv_gen/lisp/_package_StartController.lisp
/srv_gen/lisp/_package_StopController.lisp
/srv_gen/lisp/_package_TorqueEnable.lisp
/srv_gen/lisp/robbie-srv.asd
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.py~
