<launch>
<!--
This is the launch file for robbies arm for testing 

-->

 <!-- Load the URDF/Xacro model of our robot -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find robbie)/urdf/robbie5.xacro'" />


<!-- Start the Dynamixel Joint States Publisher -->
     <node name="robbie_joint_states_publisher" pkg="robbie" type="robbie_joint_state_publisher.py" output="screen" />

   <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

 
       
   <!-- start the dynamixel servos --> 
     <include file="$(find robbie)/launch/dynamixels.launch"/>

   <node name="right_arm" pkg="robbie" type="right_Shoulder.py">
    <rosparam file="$(find robbie)/params/arms.yaml" command="load" />
   </node>
<!--
  <node name="neck" pkg="robbie" type="neck_tilt.py"/>-->

 <!-- start action servers  --> 
     <include file="$(find robbie)/launch/action.launch"/>

   
 

    

</launch>
