<launch>

  <!-- Start arduino base controller-->

   <node name="arduino" pkg="robbie" type="arduino.py">
    <rosparam file="$(find robbie)/params/robbie_base.yaml" command="load" />
  </node>

  <!-- Start move base params-->
     <include file="$(find robbie)/launch/move_base.launch"/>

  
  <!-- start the arm control  -->
     <include file="$(find robbie)/launch/arm_test.launch"/>

  <!-- start moveit  -->
     <include file="$(find robbie)/launch/robbie_moveit.launch"/>

  <!-- start voice and ears  -->
     <include file="$(find robbie)/launch/a_test.launch"/>

  <!-- start the kinect and laser --> 
     <include file="$(find robbie)/launch/openni.launch"/>

  <!-- start the kinect head cam  -->
     <include file="$(find robbie)/launch/openni2.launch"/>





</launch>
