<launch>

  


   <!-- start the kinect and laser  
     <include file="$(find omni_bot)/launch/openni_node.launch"/>

-->
  <node name="rosbridge" pkg="rosbridge" type="rosbridge.py" output="screen" />

  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" output="screen" />

  
</launch>
