<launch>
        
      
     <!-- start the kinect and laser --> 
     <include file="$(find robbie)/launch/openni.launch"/>

    <!-- start the robot base controller -->
     <!-- start the arduino base controller and urdf-->
     <include file="$(find robbie)/launch/robbie_base.launch"/>


    <!-- start the dynamixel servos --> 
     <include file="$(find robbie)/launch/dynamixels.launch"/>


   <!-- start the gmapping --> 
     <include file="$(find robbie)/launch/gmapping_robbie.launch"/>
    
    
  <!-- Start arm control-->

     <include file="$(find robbie)/launch/arm.launch"/>
 
 
       
   
</launch>
